apiVersion: v1
kind: Secret
metadata:
  name: cloudcart-stripe-secrets
  namespace: cloudcart
type: Opaque
stringData:
  stripe-secret-key: "sk_test_REPLACE_ME"
  stripe-webhook-secret: "whsec_REPLACE_ME"
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudcart-secrets
  namespace: cloudcart
type: Opaque
stringData:
  email-api-key: "REPLACE_ME"
